.cards {
   margin-bottom: 5px;
   margin-top: 5px;
}

.btn {
    margin: 10px
}

.card:hover {
    box-shadow: 0 0 3px 2px black;
}

.cardImage {
    padding-top: 10px;
}

.project-heading {
    color: black;
    font-family: 'lora',sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
